$base-padding: 4px;
$base-margin: 4px;

$main-font: 'Roboto', sans-serif;
$goudy-font: 'Sorts Mill Goudy', serif;

$color-plains: #fefbda;
$color-island: #31649b;
$color-swamp: #393649;
$color-mountain: #932b2b;
$color-forest: #1d3c1d;

$color-azorius: #1d3c1d;
$color-boros: #1d3c1d;
$color-dimir: #1d3c1d;
$color-golgari: #1d3c1d;
$color-gruul: #1d3c1d;
$color-izzet: #1d3c1d;
$color-orzhov: #1d3c1d;
$color-rakdos: #1d3c1d;
$color-selesnya: #1d3c1d;
$color-simic: #1d3c1d;